{% extends "layout.njk" %}

{% block content %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" href="cursos.css">
    
<title>Sobre - Rocketseat</title>

<body>
    <header>
        <h1>Rocketseat</h1>
    </header>

    <h2>Domine o desenvolvimento web do zero e acelere na direção dos seus objetivos.</h2>
    <button>LaunchBase</button>
    <main>
        <div class="modal-ovelay">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>

                <div class="modal-content">
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock %}
