{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="cursos.css">
    
<title>Sobre - Rocketseat</title>

<body>
    <header>
        <h1>Rocketseat</h1>
    </header>

    <main>
        <div class="card" id="starter">
            <p>5 módulos</p>
            <p>Gratuito!</p>
            <a href="https://rocketseat.com.br/starter">Starte</a>
        </div>
        <div class="card" id="launchbase">
            <p>7 módulos</p>
            <p>Embarque!</p>
            <a href="https://rocketseat.com.br/launchbase">LaunchBase</a>
        </div>
        <div class="card" id="gostack">
            <p>10 módulos</p>
            <p>Embarque!</p>
            <a href="https://rocketseat.com.br/gostack">GoStack</a>
        </div> 
    </main>

</body>
{% endblock %}
