* { 
    margin: 0px;
    padding: 0px;
}
.estrutura {
  grid-template-areas: 
  "header header header"
  "main main main"
  "aside aside aside"
  "footer footer footer";
  grid-template-columns:  180px 50px 50px;
  grid-template-rows: 50px 50px 50px
}

.header{
  grid-area: header;
  align-items: center;
  margin: 20px auto;
  display: flex;
  max-width: 960px;
  font-size: 15px;
  
}

.header img {
  margin: 0 40px;
}

.header nav a {
  margin: 0 30px;
  text-decoration: none;
  color: #111111;
}

#login {
  font-size: 30px;
  margin-left: 80px;
}

#login:hover {
  color: rgba(0, 0, 0, .5);
}

.container-main {
  display: grid;
  grid-area: main;
  align-items: center;
  margin: 0 auto;
  background: #FBDFDB;
  width: 1000px;
  height: 300px;
  border-radius: 30px;
}

.main {
  display: flex;
  flex: 1;
}

.text-main {
  margin: auto;
}
.main h1 {
  font-size: 32px;
  color: #111111;
  margin: 40px 20px 0 20px;
  align-self: flex-start;
}

.main p {
  margin: 8px 20px 40px;
  opacity: 0.7;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
}

.main a {
  margin: 8px 20px 40px;
  opacity: 0.7;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
  text-decoration: none;
  position: relative;
}
@keyframes seta {
  from {
    right: -25px;
  }
  to {
    right: -40px;
  }
}

.main a::after {
  content: '←';
  color: rgba(17, 13, 13, 0.3);
  animation: seta .5s ease-in 0s infinite alternate;
  position: absolute;
  right: -2px;
  overflow: auto;

}

aside  > h1 {
  margin: 40px auto;
  text-align: center;
}
.input {
  margin: 0 auto;
}

.opções {
  display: grid;
}

aside input {
  width: 300px;
  margin: 10px auto;
  border-radius: 10px;
  border: 3px solid #252525;
  background: none;
  font-size: 1.5em;
  padding: 10px;
}

.opções h2 {
  margin: 8px 8px;
}

.opções p {
  margin: 10px 10px;
}
.container-chefe img{
  margin-right: 40px;
}

.container-pratos {
  grid-area: aside;
  max-width: 960px;
  display: flex;
	margin: 0 auto;
}

.container-item {
  margin: 10px 20px;
  max-width: 960px;
  flex-wrap: wrap;
  display: flex;
}

.container-item h2 {
  margin: 8px auto;
}

.container-item::after{
  content: "♡  4.9 (15)";
  content: 4.9 (15);
}



.container-item p {
  margin: 0 auto;
  margin-top: 8px;
}

.footer {
  grid-area: footer;
  padding: 10px;
  background: #EEEEEE;
  text-align: center;
}

.footer p {
  text-align:  center;
	font-size: 1.125em;
	padding: 10px;
	font-size: 1.2em;
	line-height: 1.6;
}