* { 
    margin: 0%;
    padding: 0;
}

.container-sobre {
  display: flex;
  margin-left: 101px;
  flex-direction: row;
}

.container-sobre p {
  margin-left: 81px;
  margin-top: 24px;
}

.container-sobre img {
  margin-top: 24px;
  margin-right: 30px;
}