body {
  font-family: 'Roboto', sans-serif;
  background-color: #F2F8FD;
}

img {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 150px;
  position: relative;
  max-width: 100%;
  overflow: hidden;  
}

img:hover {
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

h1 {
  font-size: 100px;
  text-shadow: #BDCCFF 2px 3px 2px;
}

a {
  padding: 20px;
  text-decoration: none;
}

a:hover {
  color: #580BE4;
}