:root {
  --color-rocket: #7159c1
}

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  color: white;
}

body h3 {
  color: black;
  text-align: center;
}

.cards {
  max-width: 800px;
  gap: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  background-color: var(--color-rocket);
  margin: 10px 20px;
  display: grid;
  height: 500px;
  cursor: pointer;
}

.card_image_container {
  width: 100%;
  padding: 20px;
}

.card_content, .card_info {
  padding: 24px;
}

.card_content p {
  filter: brightness(90%);
  background-color: var(--color-rocket);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center; 
}

.card_image_container img {
  width: 50%;
  padding: 25px;
  margin: 0 auto;
  position: relative;
}

.card_info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  
}

.card_info  > p {
  filter: brightness(90%);
  background-color: var(--color-rocket);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center; 
}

.card_price {
  background-color: var(--color-rocket);
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center; 
}

.featured-wrapper.card_image_container {
  position: absolute;
  background: #f7d05f;
  color: #111;
  padding: 2px 8px;
  left: 5px;
  border-radius: 16px;
  top: -6px
}

.video {
  margin: 0 auto;
  max-width: 800px;
}

.card_video_container {
  position: relative;
  padding-top: 62.5%;
}

.card_video_container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}