* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

header {
    display: flex;
    flex: 1;
    background: linear-gradient(135deg, #8844ee, #b07dfb); 
}

header a {
    margin: 25px auto;
    align-items: center
}

header a:hover {
    color: white;
}