body {
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}
h3 {
    text-align: center;
}

.container-cursos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-top: 100px;
    background-color: #FFF;
    height: 100px;
    grid-template-rows: 30px 1fr;
}

img {
    padding: 0;
}

h1 {
    font-size: 30px;
    padding-bottom: 0px;
}

p {
    padding-top: 0;
}

a {
    text-decoration: none;
    font-size: 25px;
    text-align: center;
}