* {
    box-sizing: border-box;
}

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #E6E7E8;
    padding: 30px 30px;
    text-align: center;
}

header a {
    padding: 30px;
    text-decoration: none;
    
}

header a:hover {
    color: #782FEF;
}
h3 {
    text-align: center;
}
/*
.container-cursos TODOS OS MODALS
*/
.container-cursos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

/*
Conteudo do starte
*/
.starte {
   box-shadow: 0 4px 8px 0 rgb(13, 13, 14);
   border-radius: 60px 60px 60px;
}
.starte:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.all-content {
    color: #58357B;
    padding: 24px;
}
.container-img-starte {
    width: 100%;
    border-radius: solid ;
}

.content {

}